.header-wrapp {
  position: fixed;
  top: 0;
  background-color: white;
  left: 0;
  z-index: 100;
}
header {
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  max-width: var(--max-width);
}
.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  height: 90%;
  object-fit: contain;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}
.navlink {
  color: var(--blue);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  line-height: 1;
  text-decoration: none;
}
.navlink:visited {
  color: var(--blue) !important;
}
.navlink svg {
  line-height: 1;
  font-size: 14px;
  transition: all 0.5s ease-in-out;
}
.navlink-div {
  position: relative;
}
.dropdown {
  position: absolute;
  top: 300%;
  pointer-events: none;
  opacity: 0;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  width: max-content;
  border: 2px solid var(--blue);
  padding: 10px 20px;
  transition: all 0.8s ease-in-out;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.5);
}
.active-drop {
  z-index: 4;
  top: 200%;
  pointer-events: all;
  opacity: 1;
}
.dropdown a {
  color: var(--blue);
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
.header-toggle {
  font-size: 24px;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 1300px) {
  header {
    height: 80px;
  }
  .logo img {
    height: 80%;
  }
  .header-toggle {
    display: block;
    position: relative;
    z-index: 90;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 88;
  }
  nav {
    z-index: 89;
    position: fixed;
    right: -900px;
    top: 0;
    width: 100%;
    background-color: white;
    max-width: 420px;
    transition: all 1s ease-in-out;
    height: 100%;
    flex-direction: column;
    padding: 6rem 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
  }
  .navlink-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
  .dropdown {
    position: static;
    display: none;
    transform: none;
  }
  .active-drop {
    display: flex;
  }
  .nav-active {
    right: 0;
  }
}
@media screen and (max-width: 440px) {
  nav {
    align-items: center;
  }
  .navlink-div {
    align-items: center;
    width: 100%;
  }
  .dropdown {
    width: 100%;
  }
}
