footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  gap: 40px;
  padding-bottom: 20px;
}
footer a {
  font-size: 18px;
  color: var(--blue);
}
