.contact-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: var(--max-width);
}
.contact-div .title {
  margin-bottom: 10px;
}
.contact-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 500px;
  gap: 20px;
}
.contact-row h3 {
  width: 150px;
  text-transform: capitalize;
}
.contact-row a {
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: var(--blue);
}
.contact-row a svg {
  width: 25px;
  height: 20px;
}
@media screen and (max-width: 540px) {
  .contact-div .title {
    margin-bottom: 0px;
  }
  .contact-row {
    flex-direction: column;
    gap: 10px;
  }
  .contact-row h3 {
    text-align: center;
    width: max-content;
  }
}
