.hero-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  gap: 45px;
  width: 100%;
  margin-bottom: 40px;
  max-width: var(--max-width);
}
.hero-div > img {
  max-width: 100%;
  height: 400px;
  object-fit: contain;
}
.left-hero {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}
.title {
  color: var(--blue);
  font-size: 40px;
  line-height: 1;
}
.hero-div p {
  font-size: 18px;
  line-height: 1.7;
  max-width: 1000px;
}
.hero-div a {
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  border: 2px solid var(--light-blue);
  text-decoration: none;
  border-radius: 10px;
  line-height: 1;
  color: white;
  display: grid;
  place-items: center;
  width: 140px;
  height: 45px;
  background-color: var(--light-blue);
  transition: all 0.5s ease-in-out;
}
.hero-div a:visited {
  color: white !important;
}
.hero-div a:hover {
  background-color: white;
  color: var(--light-blue) !important;
}
@media screen and (max-width: 1300px) {
  .hero-div {
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;
    gap: 40px;
  }
  .left-hero {
    align-items: center;
  }
  .hero-div > img {
    height: auto;
    width: 100%;
    max-width: 600px;
  }
  .hero-div p {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: 30px;
  }
}
