.resource-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: var(--max-width);
}
.resource-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 25px;
  margin-top: 10px;
}
.resource-links a img {
  width: 130px;
  object-fit: contain;
}
.bg-green {
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}
