.resource-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: var(--max-width);
}
.resource-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 25px;
  margin-top: 10px;
}
.resource-links .plant {
  background: var(--blue);
  padding: 20px;
  border-radius: 10px;
  color: white !important;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.4;
}
.resource-links a img {
  width: 130px;
  object-fit: contain;
}
.bg-green {
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}
