.tech-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: var(--max-width);
}
.tech-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  column-gap: 20px;
}
.tech-col {
  grid-template-rows:
    400px 150px 150px
    190px;

  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
  height: 100%;
}
.tech-row {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  gap: 10px;
  border: 2px solid var(--blue);
  border-radius: 10px;
}
.tech-row h3 {
  font-size: 24px;
  color: var(--blue);
  text-align: center;
  align-self: center;
}
.tech-row img {
  width: 90px;
  height: 90px;
  object-fit: fill;
  align-self: center;
  margin: 10px 0px;
}
.tech-row h4 {
  align-self: center;
  color: var(--blue);
  font-size: 20px;
  margin-bottom: 10px;
}
.tech-row ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  list-style-position: inside;
}
.tech-row ul li {
  font-size: 15px;
}
.tech-div .title {
  text-align: center;
}
@media screen and (max-width: 1309px) {
  .tech-grid {
    row-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 800px) {
  .tech-grid {
    row-gap: 50px;
    grid-template-columns: 1fr;
  }
  .tech-col {
    grid-template-rows: auto auto auto auto;
  }
}
@media screen and (max-width: 400px) {
  .tech-div .title {
    font-size: 27px;
  }
}
